{% extends "govuk/template.njk" %}

{% block head %}
  {% include "partials/appInsightsWebTracking.njk" %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>

  {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{ 'Error: ' if errors else '' }}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
    {{ feComponents.header | safe }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
    {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
    {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
    <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
