$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './local';

.filter-box {
  background-color: govuk-colour("light-grey");
  padding: 25px 10px 25px 10px;
}

.filter-box-width-override-60 {
  width: 60%;
  float: left;
}

.filter-box-width-override-20 {
  width: 20%;
  float: left;
}

.reporting-stats h4 {
  margin-bottom: 5px;
}

.reporting-stats p {
  margin-bottom: 10px;
}

.reporting-big-number {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 10px !important

}

