<div class="govuk-form-group filter-box govuk-!-margin-top-4">
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <div {% if errors.dates %}class="govuk-form-group--error"{% endif %} >
        {% if errors.dates %}
          <p id="date-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>{{ errors.dates.text }}
          </p>
        {% endif %}
        <div class="govuk-grid-row" id="dates">
          <div class="govuk-grid-column-one-quarter">
            {{ mojDatePicker({
              id: "dateFrom",
              name: "dateFrom",
              label: {
                  text: "Date from (earliest)"
              },
              hint: {
                text: "For example, 1/8/2025"
              },
              value: dateFrom,
              minDate: "31/07/2025"
            }) }}
          </div>

          <div class="govuk-grid-column-one-quarter">
            {{ mojDatePicker({
              id: "dateTo",
              name: "dateTo",
              label: {
                  text: "Date to (latest)"
              },
              hint: {
                text: "For example, 1/8/2025"
              },
              value: dateTo,
              minDate: "31/07/2025"
            }) }}
        </div>
      </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="govuk-button-group govuk-!-margin-top-6 govuk-!-margin-bottom-0">
                <button class="govuk-button" data-module="govuk-button" data-qa="submit-filters">
                  View reports
                </button>
              </div>
          </div>
        </div>
    </div>

  </form>
</div>