<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
      Work status progress
    </h3>

    <div class="govuk-form-group filter-box govuk-!-margin-top-4">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
              Total number of prisoners who have changed status
            </h2>
            <p class="reporting-big-number">{{ numberOfPrisonersStatusChange }}</p>
          </div>
      </div>
    </div>

    <dl class="govuk-summary-list" data-qa="workStatusProgress">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__key">
          Within 12 weeks of release
        </dd>
        <dd class="govuk-summary-list__key">
          More than 12 weeks from release
        </dd>
      </div>
      {% for entry in workStatusProgress %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ contentLookup.workStatusProgress[entry.profileStatus] }}
          </dt>
          <dd class="govuk-summary-list__value" data-qa="workStatusProgress_{{ entry.profileStatus }}_numberOfPrisonersWithin12Weeks">
            {{ entry.numberOfPrisonersWithin12Weeks }}
          </dd>
          <dd class="govuk-summary-list__value" data-qa="workStatusProgress_{{ entry.profileStatus }}_numberOfPrisonersOver12Weeks">
            {{ entry.numberOfPrisonersOver12Weeks }}
          </dd>
        </div>
      {% endfor %}
    </dl>
  </div>
</div>