<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      Latest recorded application status
    </h3>
    <p class="govuk-body govuk-!-margin-bottom-6">Shows latest recorded status for each open application in the reporting period.</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list" role="tablist">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
          <a class="govuk-tabs__tab" href="#event-chart-2" id="tab_event-chart-2" role="tab" aria-controls="event-chart-2" aria-selected="true" tabindex="0">
            Latest application status chart view
          </a>
        </li>
        <li class="govuk-tabs__list-item" role="presentation">
          <a class="govuk-tabs__tab" href="#event-table-2" id="tab_event-table-2" role="tab" aria-controls="event-table-2" aria-selected="false" tabindex="-1">
            Latest application status table view
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel govuk-!-padding-right-8 govuk-!-padding-bottom-8" id="event-chart-2" role="tabpanel" aria-labelledby="tab_event-chart">
        {{ barChart('applicationtotalsChart','Latest application status chart view', 50, latestApplicationsByStage , 'applicationStatus', 'numberOfApplications') }}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="event-table-2" role="tabpanel" aria-labelledby="tab_event-table">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Application status</th>
              <th scope="col" class="govuk-table__header">Total</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for entry in latestApplicationsByStage%}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ entry.applicationStatus }}</td>
              <td class="govuk-table__cell">{{ entry.numberOfApplications }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>